* {
    outline: none !important;
}

#wos_wrapper {
    margin-bottom: 25px;
    padding: 20px 20px 5px;
    border-radius: 33px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 10px #eee;
}

#wos_wrapper label {
    display: block;
}

#wos_wrapper section {
    width: 25%;
    float: left;
    margin-bottom: 15px;
}

#wos_wrapper select {
    min-width: 85%;
    width: 84%;
    height: 37px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    background: #fff;
    box-shadow: none;
    margin-top: 5px;
    padding: 0 10px;
}

#wos_wrapper input[type=date] {
    min-width: 90%;
    width: 90%;
    height: 37px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    background: #fff;
    box-shadow: none;
    margin-top: 5px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

#wos_wrapper input[type=text] {
    max-width: 90%;
    height: 37px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 30px;
    background: #fff;
    box-shadow: none;
    margin-top: 5px;
    border: 1px solid #ddd;
    padding-left: 10px;
    transition: .3s;
}

#wos_wrapper input[type=text]:focus {
    border: 1px solid #aaa;
    transition: .3s;
}

#wos_wrapper input[type="submit"] {
    height: 37px;
    padding: 0;
    display: block;
    width: 100px;
    background: darkcyan !important;
    color: #fff;
    font-weight: normal;
    border-radius: 30px;
    transition: .3s;
    border: none;
    cursor: pointer;
    font-size: inherit;
	line-height: 42px;
}

#wos_wrapper input[type="submit"]:hover {
    background: #005353;
    transition: .3s;
}

#wos_submit {
    clear: both;
    margin-bottom: 15px;
    padding-top: 10px;
}

#wos_biawp_close_form {
    font-size: 28px;
    position: absolute;
    right: 15px;
    top: 6px;
    cursor: pointer;
    color: brown;
}

@media only screen and (max-width: 1180px) {
  #wos_wrapper section {
    width: 50%;
  }
  
  #wos_wrapper input[type=text], #wos_wrapper select, #wos_wrapper input[type=date] {
        max-width: 90%;
        width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #wos_wrapper section {
    width: 100%;
  }
  
  #wos_wrapper input[type=text], #wos_wrapper select, #wos_wrapper input[type=date] {
        max-width: 100%;
        width: 100%;
  }
}


